@font-face{
    font-family: "Pokemon Solid";
    src: url("fonts/Pokemon Solid.ttf");
}
@font-face{
    font-family: "Pokemon Hollow";
    src: url("fonts/Pokemon Hollow.ttf");
}

h1{
    font-family: "Pokemon Solid";
    font-size: 4.5rem;
    color: rgb(222, 255, 37);
    text-shadow:
        2px 2px 0 #1b02ff,
        2px -2px 0 #1b02ff,
        -2px 2px 0 #1b02ff,
        -2px -2px 0 #1b02ff;
    font-weight: 900;
}

body{
    background: linear-gradient(to right, #377927, #fffc62);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pokeContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}


.pokemon{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    flex-basis: 12rem;
    margin: 20px; 
}

.imgContainer{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 90%;
}

.info{
    margin-top: 20px;
}

.numero{
    background-color: rgba(0, 0, 0, 0.247);
    padding: 2px 13px;
    border-radius: 10px;
    letter-spacing: 3px;
    font-size: 0.8rem;
}

.nome{
    margin: 15px 0 7px;
    letter-spacing: 0.5px;
}
